services:
    poi:
        image: ghcr.io/giannikoch/poi:main
        restart: unless-stopped
        networks:
            poi_net:
                ipv4_address: 172.30.0.10  # Fixed IP for routing rules
        volumes:
            - ${POI_DATA}:/var/lib/poi/data
        environment:
            - ConnectionStrings:PostgreSQL=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
            - Discord:Prefix=${DiscordPrefix}
            - Discord:Token=${DiscordToken}
            - Paths:DataFolderPath=/var/lib/poi/data
            - TZ=$TZ
    postgres:
        image: postgres:16-alpine
        restart: unless-stopped
        ports:
            - 5001:5432
        networks:
            - default
            - poi_net
        volumes:
            - ${POSTGRES_DATA}:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}

networks:
    poi_net:
        external: true
